.container-fluid {
    margin: 0;
    padding: 0;
}
.navbar-brand {
    width: 150px;
    margin-right: 0px;
}
.navbar-brand > img {
    width: 100%;
}
.nav-item ,
.nav-item > *{
    font-size: 25px;
}
.nav-item {
    padding: 20px;
}